bin/
scripts/*.pyc
logs/*/*-igid*/
logs/*/*/results*
logs/*/*/injection-list/*
logs/*/*/sdcs/
suites/*/*/basic_block_insts.txt
suites/*/*/cfgs.txt
suites/*/*/simple-cfg.dot
suies/*/*/path_profile.txt
suites/*/*/*.o
suites/*/*/*.cpp*.i*
suites/*/*/*.cubin
suites/*/*/*.ptx
suites/*/*/*.cudafe*
suites/*/*/*.fatbin*
suites/*/*/*.module*
suites/*/*/*.hash
suites/*/*/*/basic_block_insts.txt
suites/*/*/*/cfgs.txt
suites/*/*/*/simple-cfg.dot
suies/*/*/*/path_profile.txt
suites/*/*/*/*.o
suites/*/*/*/*/*.o
suites/*/*/*/*/*/*.o
suites/*/*/golden*
suites/*/*/std*
suites/*/*/*/std*
suites/*/*/*/golden*
suites/*/*/*.pyc
suites/*/*/*/*.pyc
suites/lonestargpu-2.0/inputs/
suites/lonestargpu-2.0/cub-1.6.4
suites/lonestargpu-2.0/bin
scripts/tmp/
