bin/
scripts/*.pyc
logs/*/*-igid*/
logs/*/*/sdcs/
suites/*/*/*.o
suites/*/*/*.cpp*.i*
suites/*/*/*.cubin
suites/*/*/*.ptx
suites/*/*/*.cudafe*
suites/*/*/*.fatbin*
suites/*/*/*.module*
suites/*/*/*.hash
suites/*/*/*/*.o
suites/*/*/*/*/*.o
suites/*/*/*/*/*/*.o
suites/*/*/golden*
suites/*/*/std*
suites/*/*/*/std*
suites/*/*/*/golden*
suites/*/*/*.pyc
suites/*/*/*/*.pyc
